.map-container {
  height: 500px;
  width: 900px;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.marker-button {
  background-color: #4285f4; 
  color: #ffffff; 
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.marker-button.insert {
  background-color: tomato;
}

.marker-button.insert:hover {
  background-color: coral;
}

.marker-button.insert:active {
  background-color: tomato;
}

.marker-button:hover {
  background-color: #3873cc;
}

.marker-button:active {
  background-color: #2f5eaa;
}